<a href="https://colab.research.google.com/github/Ava-creator/Caculator/blob/main/day1_kidsmentor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
 # Your toy box!
favorite_toy = "Barbie"
favourite_food = "rice and chicken"
number_of_toys = 7
is_toy_box_full = True

In [ ]:
favorite_toy

'Barbie'

In [ ]:
number_of_toys

7

In [ ]:
favourite_food

'rice and chicken'

In [ ]:
kitchen = "plates"

In [ ]:
kitchen

'plates'

In [ ]:
print(" hello Ava")   # teacher

 hello Ava

In [ ]:
print("hello teacher")

hello teacher

In [ ]:
#  we are writing a software that knows you and tells you about your self
authors_name = "Ava"
authors_age= 7
mood ="happy"
favourite_color ="Gold"
Avas_book_number = 7

# print(f"Hello my name is {authors_name}") # single line / /

print(f"""

my name is {authors_name}
I am {authors_age} years old
I will be {authors_age + 5} in the next 5 years,
My favourite colour is {favourite_color}
And I have this many books: {Avas_book_number}

      """)

my name is Ava
I am 7 years old
I will be 12 in the next 5 years,
My favourite colour is Gold
And I have this many books: 7

In [ ]:
# We are making a cake software
print(f"""

this is  Teachers cake

              (0)
             (000)
            (00000)
           (0000000)
          (000000000)

        This is strawberry cake
""")

this is  Teachers cake

              (0)
             (000)
            (00000)
           (0000000)
          (000000000)

        This is strawberry cake

In [ ]:
authors_name= "Ava" #Ava
# Avas vanilla cake
authors_age = 0 #added a placeholder to avoid the error
print(f"""

I am {authors_name}
and I was {authors_age - 3 }
      years old,
      3 years
       ago

""")

 # 6 quotataio we divide it by 3
print(f" I am {authors_age} \n I was {authors_age - 2} \n years old,\n 2 years \n ago") # single line
print(f"""
I am {authors_name}
and I was {authors_age - 3 }
      years old,
      3 years
       ago

""")

 # 6 quotataio we divide it by 3
print(f" I am {authors_age} \n I was {authors_age - 2} \n years old,\n 2 years \n ago") # single line

I am Ava
and I was -3
      years old,
      3 years
       ago


 I am 0
 I was -2
 years old,
 2 years
 ago

I am Ava
and I was -3
      years old,
      3 years
       ago


 I am 0
 I was -2
 years old,
 2 years
 ago

In [ ]:
# Avas vanilla cake
# Make sure authors_name is accessible in this cell
authors_name = "Ava"  # Or import it from a previous cell using the %store magic command
authors_age = 7

print(f"""

I am {authors_name}  # Corrected: removed the (Ava) which was causing the error
and I was {authors_age - 3 }
      years old,
      3 years
       ago

""")

 # 6 quotataio we divide it by 3
print(f" I am {authors_age} \n I was {authors_age - 2} \n years old,\n 2 years \n ago") # single line

I am Ava  # Corrected: removed the (Ava) which was causing the error
and I was 4
      years old,
      3 years
       ago


 I am 7
 I was 5
 years old,
 2 years
 ago

In [ ]:
# avas vanilas cake
#  [*]
# [***]
#[*****]

print(f"""
This is Avas vanilla cake
                                                                [*]
                                                               [***]
                                                              [*****]
                                                             [*******]
                                                            [*********]



                                                            #    [*]
                                                            #   [***]
                                                            #  [*****]
                                                            # [*******]
                                                            #[*********]


This is a Vanilla Cake


""")

This is Avas vanilla cake
                                                                [*]
                                                               [***]
                                                              [*****]
                                                             [*******]
                                                            [*********]



                                                            #    [*]
                                                            #   [***]
                                                            #  [*****]
                                                            # [*******]
                                                            #[*********]


This is a Vanilla Cake

In [ ]:
print(f"""

This is Avas vanilla cake
                                                                [*]
                                                               [***]
                                                              [*****]
                                                             [*******]
                                                            [*********]



                                                            #    [*]
                                                            #   [***]
                                                            #  [*****]
                                                            # [*******]
                                                            #[*********]


This is a Vanilla Cake


""")

This is Avas vanilla cake
                                                                [*]
                                                               [***]
                                                              [*****]
                                                             [*******]
                                                            [*********]



                                                            #    [*]
                                                            #   [***]
                                                            #  [*****]
                                                            # [*******]
                                                            #[*********]


This is a Vanilla Cake

control flow statement


when you are hungry?

do you eat, yes or no?

when you are sleepy

do you sleep?

yes or no?
yes

In [ ]:
Ava_is_hungry =True #false

if Ava_is_hungry == True:
  print(f" Ava will eat {favourite_food}")
else:
  print (f" Ava is not hungry")

 Ava will eat rice and chicken

In [ ]:
#pemdas
# p = parenthesis ()
# e = emphasis
# m = multiplication
# d = division
# a = addtition
# s = subtraction

In [ ]:
favourite_food = "rice and chicken" # Define the variable before using it
Ava_is_hungry =True #false

if Ava_is_hungry == True:
  print(f" Ava will eat {favourite_food}")
else:
  print (f" Ava is not hungry")

 Ava will eat rice and chicken

this is the beauty of numbers
    #    [*]
                                                            #   [***]
                                                            #  [*****]
                                                            # [*******]
                                                            #[*********]

In [ ]:
# mathematics
b = 7
a = 5

In [ ]:
c = b + a
print (f" c = b + a is {c}")
c = b - a
print (f" c = b - a is {c}")
c = b / a
print (f" c = b / a is {c}")
c = b * a
print (f" c = b * a is {c}")
c = b ** a
print (f" c = b ** a is {c}")
c = b % a
print (f" c = b % a is {c}")
c = b // a
print (f" c = b // a is {c}")
c = a + b
print (f" c = a + b  is {c}")
c = a - b
print (f" c = a - b  is {c}")
c = a / b
print (f" c = a / b is {c}")
c = a * b
print (f" c = b + a is {c}")
c = a ** b
print (f" c = b + a is {c}")
c = a % b
print (f" c = b + a is {c}")
c = a // b
print (f" c = b + a is {c}")

 c = b + a is 12
 c = b - a is 2
 c = b / a is 1.4
 c = b * a is 35
 c = b ** a is 16807
 c = b % a is 2
 c = b // a is 1
 c = a + b  is 12
 c = a - b  is -2
 c = a / b is 0.7142857142857143
 c = b + a is 35
 c = b + a is 78125
 c = b + a is 5
 c = b + a is 0

In [ ]:
5 + 5

10

In [ ]:
5 * 5

25

In [ ]:
5 - 3

2

In [ ]:
5 / 3

1.6666666666666667

In [ ]:
5 + 18

23

In [ ]:
5 // 3

1

In [ ]:
5 // 2

2

In [ ]:
time = "15:10pm"
print(time)

15:10pm

In [ ]:
from datetime import datetime
current_datetime = datetime.now()
print("current date and time:", current_datetime)

current date and time: 2025-02-22 10:28:57.684027

In [ ]:
print("Hello Eveybody")

Hello Eveybody

I want you to memorise the multiplication table 1-10

In [ ]:
print(f" 1 * 1  = {1*1}")
print(f" 1 * 2  = {1*2}")
print(f" 1 * 1  = {1*1}")
print(f" 1 * 2  = {1*2}")
print(f" 1 * 3 = {1*3}")
print(f" 1 * 4 = {1*4} ")
print(f" 1 * 5 = {1*5} ")
print(f" 1 * 6 = {1*6} ")
print(f" 1 * 7 = {1*7} ")
print(f" 1 * 8 = {1*8} ")
print(f" 1 * 9 = {1*9} ")
print(f" 1 * 10 = {1*10} ")

 1 * 1  = 1
 1 * 2  = 2
 1 * 1  = 1
 1 * 2  = 2
 1 * 3 = 3
 1 * 4 = 4
 1 * 5 = 5
 1 * 6 = 6
 1 * 7 = 7
 1 * 8 = 8
 1 * 9 = 9
 1 * 10 = 10

In [ ]:
print(f" 2 * 2 = {2*2} ")
print(f" 2 * 3 = {2*3} ")
print(f" 2 * 4 = {2*4} ")
print(f" 2 * 5 = {2*5} ")
print(f" 2 * 6 = {2*6} ")
print(f" 2 * 7 = {2*7} ")
print(f" 2 * 8 = {2*8} ")
print(f" 2 * 9 = {2*9} ")
print(f" 2 * 10 = {2*10} ")

 2 * 2 = 4
 2 * 3 = 6
 2 * 4 = 8
 2 * 5 = 10
 2 * 6 = 12
 2 * 7 = 14
 2 * 8 = 16
 2 * 9 = 18
 2 * 10 = 20

In [ ]:

print(f" 3 * 1 = {3*1} ")
print(f" 3 * 2 = {3*2} ")
print(f" 3 * 3 = {3*3} ")
print(f" 3 * 4 = {3*4} ")
print(f" 3 * 5 = {3*5} ")
print(f" 3 * 6 = {3*6} ")
print(f" 3 * 7 = {3*7} ")
print(f" 3 * 8 = {3*8} ")
print(f" 3 * 9 = {3*9} ")
print(f" 3 * 10 = {3*10}")

 3 * 1 = 3
 3 * 2 = 6
 3 * 3 = 9
 3 * 4 = 12
 3 * 5 = 15
 3 * 6 = 18
 3 * 7 = 21
 3 * 8 = 24
 3 * 9 = 27
 3 * 10 = 30

In [ ]:
for i in range(1, 11):print(f"4 * {i} = {4*i}")

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [ ]:
print(f" 4 * 1 = {4*1} ")
print(f" 4 * 2 = {4*2} ")
print(f" 4 * 3 = {4*3} ")
print(f" 4 * 4 = {4*4} ")
print(f" 4 * 5 = {4*5} ")
print(f" 4 * 6 = {4*6} ")
print(f" 4 * 7 = {4*7} ")
print(f" 4 * 8 = {4*8} ")
print(f" 4 * 9 = {4*9} ")
print(f" 4 * 10 = {4*10} ")

 4 * 1 = 4
 4 * 2 = 8
 4 * 3 = 12
 4 * 4 = 16
 4 * 5 = 20
 4 * 6 = 24
 4 * 7 = 28
 4 * 8 = 32
 4 * 9 = 36
 4 * 10 = 40

In [ ]:
print(f" 5 * 1 = {5*1} ")
print(f" 5 * 2 = {5*2} ")
print(f" 5 * 3 = {5*3} ")
print(f" 5 * 4 = {5*4} ")
print(f" 5 * 5 = {5*5} ")
print(f" 5 * 6 = {5*6} ")
print(f" 5 * 7 = {5*7} ")
print(f" 5 * 8 = {5*8} ")
print(f" 5 * 9 = {5*9} ")
print(f" 5 * 10 = {5*10} ")

 5 * 1 = 5
 5 * 2 = 10
 5 * 3 = 15
 5 * 4 = 20
 5 * 5 = 25
 5 * 6 = 30
 5 * 7 = 35
 5 * 8 = 40
 5 * 9 = 45
 5 * 10 = 50

In [ ]:
print(f" 6 * 1 = {6*1} ")
print(f" 6 * 2 = {6*2} ")
print(f" 6 * 3 = {6*3} ")
print(f" 6 * 4 = {6*4} ")
print(f" 6 * 5 = {6*5} ")
print(f" 6 * 6 = {6*6} ")
print(f" 6 * 7 = {6*7} ")
print(f" 6 * 8 = {6*8} ")
print(f" 6 * 9 = {6*9} ")
print(f" 6 * 10 = {6*10} ")

 6 * 1 = 6
 6 * 2 = 12
 6 * 3 = 18
 6 * 4 = 24
 6 * 5 = 30
 6 * 6 = 36
 6 * 7 = 42
 6 * 8 = 48
 6 * 9 = 54
 6 * 10 = 60

In [ ]:
for i in range(1,11):
 print(f"7 * {i} = {7*i}")

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
print(f" 7 * 1 = {7*1} ")
print(f"7 * 2 = {7*2}")
print(f"7 * 3 = {7*3}")
print(f"7 * 4 = {7*4}")
print(f"7 * 5 = {7*5}")
print(f"7 * 6 = {7*6}")
print(f"7 * 7 = {7*7}")
print(f"7 * 8 = {7*8}")
print(f"7 * 9 = {7*9}")
print(f"7 * 10 = {7*10}")

 7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
print(f"8 * 1 = {8*1} ")
print(f"8 * 2 = {8*2} ")
print(f"8 * 3 = {8*3} ")
print(f"8 * 4 = {8*4} ")
print(f"8 * 5 = {8*5} ")
print(f"8 * 6 = {8*6} ")
print(f"8 * 7 = {8*7} ")
print(f"8 * 8 = {8*8} ")
print(f"8 * 9 = {8*9} ")
print(f"8 * 10 = {8*10} ")

8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [ ]:
print(f" 9 * 1 = {9*1} ")
print(f" 9 * 2 = {9*2} ")
print(f" 9 * 3 = {9*3} ")
print(f" 9 * 4 = {9*4} ")
print(f" 9 * 5 = {9*5} ")
print(f" 9 * 6 = {9*6} ")
print(f" 9 * 7 = {9*7} ")
print(f" 9 * 8 = {9*8} ")
print(f" 9 * 9 = {9*9} ")
print(f" 9 * 10 = {9*10} ")

 9 * 1 = 9
 9 * 2 = 18
 9 * 3 = 27
 9 * 4 = 36
 9 * 5 = 45
 9 * 6 = 54
 9 * 7 = 63
 9 * 8 = 72
 9 * 9 = 81
 9 * 10 = 90

In [ ]:
print(f" 10 * 1 = {10*1} ")
print(f" 10 * 2 = {10*2} ")
print(f" 10 * 3 = {10*3} ")
print(f" 10 * 4 = {10*4} ")
print(f" 10 * 5 = {10*5} ")
print(f" 10 * 6 = {10*6} ")
print(f" 10 * 7 = {10*7} ")
print(f" 10 * 8 = {10*8} ")
print(f" 10 * 9 = {10*9} ")
print(f" 10 * 10 = {10*10} ")

 10 * 1 = 10
 10 * 2 = 20
 10 * 3 = 30
 10 * 4 = 40
 10 * 5 = 50
 10 * 6 = 60
 10 * 7 = 70
 10 * 8 = 80
 10 * 9 = 90
 10 * 10 = 100

In [ ]:
print(f" 11 * 1 = {11*1} ")
print(f" 11 * 2 = {11*2} ")
print(f" 11 * 3 = {11*3} ")
print(f" 11 * 4 = {11*4} ")
print(f" 11 * 5 = {11*5} ")
print(f" 11 * 6 = {11*6} ")
print(f" 11 * 7 = {11*7} ")
print(f" 11 * 8 = {11*8} ")
print(f" 11 * 9 = {11*9} ")
print(f" 11 * 10 = {11*10} ")

 11 * 1 = 11
 11 * 2 = 22
 11 * 3 = 33
 11 * 4 = 44
 11 * 5 = 55
 11 * 6 = 66
 11 * 7 = 77
 11 * 8 = 88
 11 * 9 = 99
 11 * 10 = 110

In [ ]:
print(f" 12 * 1 = {12*1} ")
print(f" 12 * 2 = {12*2} ")
print(f" 12 * 3 = {12*3} ")
print(f" 12 * 4 = {12*4} ")
print(f" 12 * 1 = {12*1} ")
print(f" 12 * 2 = {12*2} ")
print(f" 12 * 3 = {12*3} ")
print(f" 12 * 4 = {12*4} ")
print(f" 12 * 5 = {12*5} ")
print(f" 12 * 6 = {12*6} ")
print(f" 12 * 7 = {12*7} ")
print(f" 12 * 8 = {12*8} ")
print(f" 12 * 9 = {12*9} ")
print(f" 12 * 10 = {12*10} ")

 12 * 1 = 12
 12 * 2 = 24
 12 * 3 = 36
 12 * 4 = 48
 12 * 1 = 12
 12 * 2 = 24
 12 * 3 = 36
 12 * 4 = 48
 12 * 5 = 60
 12 * 6 = 72
 12 * 7 = 84
 12 * 8 = 96
 12 * 9 = 108
 12 * 10 = 120

In [ ]:
print(f" 13 * 1 = {13*1} ")
print(f" 13 * 2 = {13*2} ")
print(f" 13 * 3 = {13*3} ")
print(f" 13 * 4 = {13*4} ")
print(f" 13 * 5 = {13*5} ")
print(f" 13 * 6 = {13*6} ")
print(f" 13 * 7 = {13*7} ")
print(f" 13 * 8 = {13*8} ")
print(f" 13 * 9 = {13*9} ")
print(f" 13 * 10 = {13*10} ")

 13 * 1 = 13
 13 * 2 = 26
 13 * 3 = 39
 13 * 4 = 52
 13 * 5 = 65
 13 * 6 = 78
 13 * 7 = 91
 13 * 8 = 104
 13 * 9 = 117
 13 * 10 = 130

In [ ]:
print(f" 14 * 1 = {14*1} ")
print(f" 14 * 2 = {14*2} ")
print(f" 14 * 3 = {14*3} ")
print(f" 14 * 4 = {14*4} ")
print(f" 14 * 5 = {14*5} ")
print(f" 14 * 6 = {14*6} ")
print(f" 14 * 7 = {14*7} ")
print(f" 14 * 8 = {14*8} ")
print(f" 14 * 9 = {14*9} ")
print(f" 14 * 10 = {14*10} ")

 14 * 1 = 14
 14 * 2 = 28
 14 * 3 = 42
 14 * 4 = 56
 14 * 5 = 70
 14 * 6 = 84
 14 * 7 = 98
 14 * 8 = 112
 14 * 9 = 126
 14 * 10 = 140

In [ ]:
print(f" 15 * 1 = {15*1} ")
print(f" 15 * 2 = {15*2} ")
print(f" 15 * 3 = {15*3} ")
print(f" 15 * 4 = {15*4} ")
print(f" 15 * 5 = {15*5} ")
print(f" 15 * 6 = {15*6} ")
print(f" 15 * 7 = {15*7} ")
print(f" 15 * 8 = {15*8} ")
print(f" 15 * 9 = {15*9} ")
print(f" 15 * 10 = {15*10} ")

 15 * 1 = 15
 15 * 2 = 30
 15 * 3 = 45
 15 * 4 = 60
 15 * 5 = 75
 15 * 6 = 90
 15 * 7 = 105
 15 * 8 = 120
 15 * 9 = 135
 15 * 10 = 150

My multiplication table

In [ ]:
!hpython

/bin/bash: line 1: hpython: command not found

In [ ]:
help

Type help() for interactive help, or help(object) for help about object.

In [ ]:
help(float)

Help on class float in module builtins:

class float(object)
 |  float(x=0, /)
 |
 |  Convert a string or number to a floating point number, if possible.
 |
 |  Methods defined here:
 |
 |  __abs__(self, /)
 |      abs(self)
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __ceil__(self, /)
 |      Return the ceiling as an Integral.
 |
 |  __divmod__(self, value, /)
 |      Return divmod(self, value).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __float__(self, /)
 |      float(self)
 |
 |  __floor__(self, /)
 |      Return the floor as an Integral.
 |
 |  __floordiv__(self, value, /)
 |      Return self//value.
 |
 |  __format__(self, format_spec, /)
 |      Formats the float according to format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getnewargs__(self, /)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __int__(self, /)
 |      int(self)
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __neg__(self, /)
 |      -self
 |
 |  __pos__(self, /)
 |      +self
 |
 |  __pow__(self, value, mod=None, /)
 |      Return pow(self, value, mod).
 |
 |  __radd__(self, value, /)
 |      Return value+self.
 |
 |  __rdivmod__(self, value, /)
 |      Return divmod(value, self).
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rfloordiv__(self, value, /)
 |      Return value//self.
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __round__(self, ndigits=None, /)
 |      Return the Integral closest to x, rounding half toward even.
 |
 |      When an argument is passed, work like built-in round(x, ndigits).
 |
 |  __rpow__(self, value, mod=None, /)
 |      Return pow(value, self, mod).
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rtruediv__(self, value, /)
 |      Return value/self.
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __truediv__(self, value, /)
 |      Return self/value.
 |
 |  __trunc__(self, /)
 |      Return the Integral closest to x between 0 and x.
 |
 |  as_integer_ratio(self, /)
 |      Return integer ratio.
 |
 |      Return a pair of integers, whose ratio is exactly equal to the original float
 |      and with a positive denominator.
 |
 |      Raise OverflowError on infinities and a ValueError on NaNs.
 |
 |      >>> (10.0).as_integer_ratio()
 |      (10, 1)
 |      >>> (0.0).as_integer_ratio()
 |      (0, 1)
 |      >>> (-.25).as_integer_ratio()
 |      (-1, 4)
 |
 |  conjugate(self, /)
 |      Return self, the complex conjugate of any float.
 |
 |  hex(self, /)
 |      Return a hexadecimal representation of a floating-point number.
 |
 |      >>> (-0.1).hex()
 |      '-0x1.999999999999ap-4'
 |      >>> 3.14159.hex()
 |      '0x1.921f9f01b866ep+1'
 |
 |  is_integer(self, /)
 |      Return True if the float is an integer.
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __getformat__(typestr, /)
 |      You probably don't want to use this function.
 |
 |        typestr
 |          Must be 'double' or 'float'.
 |
 |      It exists mainly to be used in Python's test suite.
 |
 |      This function returns whichever of 'unknown', 'IEEE, big-endian' or 'IEEE,
 |      little-endian' best describes the format of floating point numbers used by the
 |      C type named by typestr.
 |
 |  fromhex(string, /)
 |      Create a floating-point number from a hexadecimal string.
 |
 |      >>> float.fromhex('0x1.ffffp10')
 |      2047.984375
 |      >>> float.fromhex('-0x1p-1074')
 |      -5e-324
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  imag
 |      the imaginary part of a complex number
 |
 |  real
 |      the real part of a complex number

In [ ]:
Ava=7


# integeres are whole numbers
# floats are fractions
#

In [ ]:
Ava=7

In [ ]:
dir(Ava)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

In [ ]:
help(dir)

Help on built-in function dir in module builtins:

dir(...)
    dir([object]) -> list of strings

    If called without an argument, return the names in the current scope.
    Else, return an alphabetized list of names comprising (some of) the attributes
    of the given object, and of attributes reachable from it.
    If the object supplies a method named __dir__, it will be used; otherwise
    the default dir() logic is used and returns:
      for a module object: the module's attributes.
      for a class object:  its attributes, and recursively the attributes
        of its bases.
      for any other object: its attributes, its class's attributes, and
        recursively the attributes of its class's base classes.

In [ ]:
dir(float)

['__abs__',
 '__add__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getformat__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__le__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 'as_integer_ratio',
 'conjugate',
 'fromhex',
 'hex',
 'imag',
 'is_integer',
 'real']






Exercises: Level 1


create a folder called day_2. Inside this folder create a file named

variables.py


Write a python comment saying


Declare a first name variable and assign a value to it


Declare a last name variable and assign a value to it


Declare a full name variable and assign a value to it


Declare a country variable and assign a value to it


Declare a city variable and assign a value to it


Declare an age variable and assign a value to it


Declare a year variable and assign a value to it


Declare a variable is_true and assign a value to it


Declare a variable is_light_on and assign a value to it


Declare multiple variable on one line #

In [ ]:
# first name variable and assign a value to it
# first name variable and assign a value to it
first_name = "Ava"
print(f"first_name, {first_name}")
#f"""

first_name, Ava

In [ ]:
first_name

'Ava'

In [ ]:
# first name variable and assign a value to it
# first name variable and assign a value to it
last_name = "Obochi"
print(f"last_name, {last_name}")
#f"""

last_name, Obochi

In [ ]:
last_name

'Obochi'

In [ ]:
# first name variable and assign a value to it
# first name variable and assign a value to it
# first name variable and assign a value to it
full_name = "Ava Ehikocho Gabriel Obochi"
print(f"full_name, {full_name}")
#f"""

full_name, Ava Ehikocho Gabriel Obochi

In [ ]:
# country variable and assign a value to it
# country variable and assing a value to it
country = "Estonia"
print(f"country, {country}")
#f"""

country, Estonia

In [ ]:
country

'Estonia'

In [ ]:
# city variable and assign a value to it
# city variable and assign a value to it
city = "Tallinn"
print(f"city, {city}")
#f"""

city, Tallinn

In [ ]:
city

'Tallinn'

In [ ]:
# age variable and assign a value to it
# age variable and assign a value to it
age = "7"
print(f"age, {age}")
#f"""

age, 7

In [ ]:
age

'7'

In [ ]:
# year variable and assign a value to it
# year variable and assign a value to it
# year variable and assign a value to it
year = "2025"
print(f"year, {year}")
#f"""

year, 2025

In [ ]:
year

'2025'

In [ ]:
it_is_raining_today = True
print(it_is_raining_today)

True

In [ ]:
# light on variable and assign a value to it
# light on variable and assing a value to it
is_light_on = True
print(is_light_on)  # Changed: print(is_light_on) to refer to the defined variable.

True

In [ ]:
first_name, middle_name, last_name, country, age, is_married, is_light_on  = 'Ava','Gabriel', 'Obochi', 'Estonia', 7, False,True,

print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name: ', last_name)
print('Country: ', country)
print('Age: ', age)
print('Married: ', is_married)
print(f"" 'is_light_on',is_light_on)

Ava Obochi Estonia 7 False
First name: Ava
Last name:  Obochi
Country:  Estonia
Age:  7
Married:  False
is_light_on True

In [ ]:
# Exercises: Level 2
# Check the data type of all your variables using type() built-in function

# Define the variables before using them done
first_name = 'Ava'
last_name = 'Obochi'
middle_name = 'Gabriel'

print(f"the length of my first name is {len(first_name)}")

print(f"the length of my last name is {len(last_name)}")

print(f"the length of my middle name is {len(middle_name)}")

print(f"the lenght of my first name is shorter than the lenght of my last name")
# Using the len() built-in function, find the length of your first name... done
# Compare the length of your first name and your last name... done
# Declare 5 as num_one and 4 as num_two... done

num_one = 5
num_two = 4

num_one = 5  # Example value for num_one
num_two = 3  # Example value for num_two

product = num_one * num_two
print(product)  # This will output 15

num_one = 10  # Example value for num_one
num_two = 2   # Example value for num_two
division = num_one / num_two
# Print the result
print("The result of the division is:", division)

# Multiply num_two and num_one and assign the value to a variable product... done
# Divide num_one by num_two and assign the value to a variable division... done
# Use modulus division to find num_two divided by num_one and assign the value to a variable remainder... done
num_one = 5
num_two = 14

remainder = num_two % num_one

print("The remainder is:", remainder)

# Run help('keywords') in Python shell or in your file to check for the Python reserved words or keywords... done
import keyword

def print_keywords():
    keywords = keyword.kwlist
    print("Python reserved words or keywords:")
    for kw in keywords:
        print(kw)

if __name__ == "__main__":
    print_keywords()

the length of my first name is 3
the length of my last name is 6
the length of my middle name is 7
the lenght of my first name is shorter than the lenght of my last name
15
The result of the division is: 5.0
The remainder is: 4
Python reserved words or keywords:
False
None
True
and
as
assert
async
await
break
class
continue
def
del
elif
else
except
finally
for
from
global
if
import
in
is
lambda
nonlocal
not
or
pass
raise
return
try
while
with
yield

In [ ]:
# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
num_float = float(num_str)
print('num_float', float(num_str))  # 10.6
num_int = int(num_float)
print('num_int', int(num_int))      # 10

# int to float
num_int = 10
print('num_int',num_int)         # 10
num_float = float(num_int)
print('num_float:', num_float)   # 10.0

# float to int
gravity = 9.81
print(int(gravity))             # 9

# int to str
num_int = 10
print(num_int)                  # 10
num_str = str(num_int)
print(num_str)                  # '10'

# str to int or float
num_str = '10.6'
num_float = float(num_str)
print('num_float', float(num_str))  # 10.6
num_int = int(num_float)
print('num_int', int(num_int))      # 10

# str to list
first_name = 'Ava Obochi Gabriel'
print(first_name)               # 'Ava'
first_name_to_list = list(first_name)
print(first_name_to_list)            # ['A', 'v', 'a', ' ', 'O', 'b', 'o', 'c', 'h', 'i', ' ', 'G', 'a', 'b', 'r', 'i', 'e', 'l']

num_int 10
num_float: 10.0
9
10
10
num_float 10.6
num_int 10
num_int 10
num_float: 10.0
9
10
10
num_float 10.6
num_int 10
Ava Obochi Gabriel
['A', 'v', 'a', ' ', 'O', 'b', 'o', 'c', 'h', 'i', ' ', 'G', 'a', 'b', 'r', 'i', 'e', 'l']

In [ ]:
# Assuming you want to check if a variable named 'light' is True or False
# light = False
if light:
    print("Light is on")
else:
    print("Light is off")

NameError: name 'light' is not defined

In [ ]:
# Assuming you want to check if a variable named 'light' is True or False
# In your case, the variable is named 'is_light_on'

if is_light_on:  # Changed: Use the correct variable name 'is_light_on'
    print("Light is on")
else:
    print("Light is off")

In [ ]:
Dog == "Terry", Cat == "Sissy"

In [ ]:
Dog = "Terry"  # Assign the value "Terry" to the variable Dog
Cat = "Sissy"  # Assign the value "Sissy" to the variable Cat

Dog == "Terry", Cat == "Sissy" # Now this comparison will work without error

My Apps that i what to build

In [ ]:
for i in range( 12 ):

  print(f'{i} : hello Ava Obochi Gabriel')

0 : hello Ava Obochi Gabriel
1 : hello Ava Obochi Gabriel
2 : hello Ava Obochi Gabriel
3 : hello Ava Obochi Gabriel
4 : hello Ava Obochi Gabriel
5 : hello Ava Obochi Gabriel
6 : hello Ava Obochi Gabriel
7 : hello Ava Obochi Gabriel
8 : hello Ava Obochi Gabriel
9 : hello Ava Obochi Gabriel
10 : hello Ava Obochi Gabriel
11 : hello Ava Obochi Gabriel

In [ ]:

first_name = 'Ava'
last_name = 'Obochi'
language = 'Python'
formated_string = 'My name is  {}, my last name is {}. I am learning {}'.format(first_name, last_name, language)
print(formated_string)
a = 4
b = 3

print('{} + {} = {}'.format(a, b, a + b))
print('{} - {} = {}'.format(a, b, a - b))
print('{} * {} = {}'.format(a, b, a * b))
print('{} / {} = {:.2f}'.format(a, b, a / b)) # limits it to two digits after decimal
print('{} % {} = {}'.format(a, b, a % b))
print('{} // {} = {}'.format(a, b, a // b))
print('{} ** {} = {}'.format(a, b, a ** b))

# output
4 + 3 = 7
4 - 3 = 1
4 * 3 = 12
4 / 3 = 1.33
4 % 3 = 1
4 // 3 = 1
4 ** 3 = 64

# Strings  and numbers
radius = 10
pi = 3.14
area = pi * radius ** 2
formated_string = 'The area of a circle with a radius {} is {:.2f}.'.format(radius, area) # 2 digits after decimal
print(formated_string)